
    

.body {background-color: #015e01;
    color:#ffffffdf;
  background-image: url('/media/hurricaneRidge.jpg'); 
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;     
  background-attachment: fixed;     
  min-height: 100vh;              
}

.header {
    background-color: #00000055;
    width: 100%;
    align-self: center;
}

h1 {
    text-shadow: 2px 2px 4px #000000;
}

.mainContainer > .container {
    background-color: #044804d0;
}
