

.body {
  background-image: url('/media/smoky-mountain-sunset.jpg'); 
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;     
  background-attachment: fixed;     
     
  background-color: #222d7d;
    color:#ffffffdf;           
}


.mainContainer > .container {
    background-color: #171a61d0;
  }