     :root {
      --sprucePine: #003a00; 
      --kentuckyNight: #000d08;
      --mountainFog: #f0fff8; 
      --stormCloud: #333849;
      --blueRidgeParkway: #002167;
      --starLight: #e1ceff; 
    }

body {
        color: var(--mountainFog); 
        font-family: Arial, Helvetica, sans-serif; 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0; 
    }

    /* Navigation menu */
    .topnav {
        grid-area: navBar;
        overflow: hidden;
        background-color: var(--kentuckyNight);
        width: 100%;
    }

        .topnav #myLinks {
            display: none; /* Hidden by default */
            flex-direction: column;
            background-color: var(--stormCloud); 
        }

        .topnav a {
            color: var(--mountainFog);
            padding: 0.8rem; 
            font-size: 1.5rem; 
            display: block;
            text-align: center;
        }

        .active {
            background-color: var(--kentuckyNight);
            font-weight: 600;
            color: var(--mountainFog);
        }

        a {
            text-decoration: none;
            color: var(--mountainFog);
        }

        a:hover {
            text-decoration: none;
            font-weight: 700;
            color: var(--starLight);
        }

        .hiddenContent {
            display: none;
        }



    .header {
        display: none; 
    }

      
 

    .mainContainer {
        margin-top: 10px; 
        margin-bottom: 10px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

    /* defaults for all containers within .maincontainer */

    .container { 
        box-sizing: border-box;
        width: 97%; 
        padding: 2%;
        margin: 1%; 
        padding: 2%;
        border: solid var(--mountainFog) 3px; 
        box-shadow: 3px 3px #001d08;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    
    .imageContainer.container {
       height: 65vh; 
       min-height: 65vh;       
    }

    .buttonsContainer.container {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .button, .textInput {
        margin: 5px;
        padding: 5px;
        font-size: .8rem;
    }

    .containerTitle {
        align-self: center;
        text-align: center;
    }

    .containerImg {
        align-self: center;
        max-height: 55vh;
        max-width: 100%;
    }

    .footer {
        margin: 25px; 
        box-sizing: border-box;
        text-align: center;
      }

 @media only screen and (min-width: 700px) {
    
  .header {
        display: block;
        font-size: .9rem;
        text-align: center;
        cursor: pointer;
        text-align: center;
        width: 90%; 
        margin-left: 5%;
        margin-right: 5%;  
        padding-bottom: 10px; 
        box-sizing: border-box; 
        height: 9h;
  }

   .topNav {
        display: flex; 
        flex-direction: row;
        font-size: 1.25rem;
    }

      .topnav > a {
          text-align: left;
      }

    .mainContainer {
      flex-direction: row;
      justify-content: space-evenly;
      height: 75vh; 
    }

    .container {
      min-height: 70vh; 
    }

    .imageContainer.container {
       height: 70vh; 
       min-height: 70vh;       
    }

    .buttonsContainer.container {
         width: 25%; 
    }
  
 }