body {
  display: grid;
  grid-template-areas:
    "navBar navBar navBar"
    "header header header"
     "image image image"
    ". imageCaption . "
     " . buttonDiv . "
    "footer footer footer";
  grid-template-rows: min-content 1fr 50vh 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
    gap:2%; 
  min-height: 100vh; /* Ensure full viewport height */
  margin: 0;
}

header {
  grid-area: header;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding: 3%;
}

/* navigation menu */
.topnav {
    grid-area:navBar;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Add a grey background color on mouse-over */

.active {
  background-color: #003f17;
  color: white;
}

a {
  text-decoration: none;
  color:whitesmoke;
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
  color: whitesmoke;
}

.hiddenContent { 
  display:none; 
}

#galleryImage {
  grid-area: image;
  max-width: 500px;
  max-height: 50vh;
  align-self: center;
  justify-self: center; 
  object-fit: contain; /* Ensure image fits without distortion */
}

#imageCaption {
  grid-area: imageCaption;  
  justify-self: center;
}

#imageButton {
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonDiv {
    grid-area: buttonDiv;
    justify-self: center;
}

footer {
  grid-area: footer;
  text-align: left;
  color: white;
  font-size: 0.5rem;
  padding: 1%;
}

@media screen and (min-width: 700px) {
  


}