body {
  display: grid;
  grid-template-areas: 
  "header header header"
  "navBar navBar navBar"
  "main main main"
  "main main main"
  "footer footer footer";

  grid-template-columns: repeat(3, auto); 
  grid-template-rows: repeat(5,auto); 
}

header {
  grid-area: header; 
   font-size: 1rem;
   font-weight: 600;
   text-align: center;
   padding: 3%; 
    border: solid white 5px; 
    box-shadow: #333 5px ;
}

main #mainContainer {
    grid-area: main; 
    max-width: 100vw;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-weight: 500; 
}

/* navigation menu */
.topnav {
    grid-area:navBar;
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Add a grey background color on mouse-over */

.active {
  background-color: #003f17;
  color: white;
}



a {
  text-decoration: none;
  color:whitesmoke;
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
  color: whitesmoke;
}

.hiddenContent { 
  display:none; 
}

#welcomeSection {
    border: solid white 5px; 
    padding: 10px;
    max-width: 95vw;
    box-sizing: border-box;

}

#customImageContainer {
    border: solid white 3px; 
    max-width: 95vw;
    padding: 10px; 
    box-sizing: border-box;
}

#mainImage {
    max-width: 95vw;
}

.video {
  max-width: auto;
  max-height: 50vh;
}

footer {
  grid-row: 5; 
  grid-column: 1 / span 3; 
  text-align: center;
  padding: 10px; 
  margin: 3%
}


.video {
  max-height: 50vh;
  width: auto; 
} 


@media only screen and (min-width: 800px) {
body {
    display: grid; 
    grid-template-columns: 1fr 70vw 1fr;
    grid-template-rows: 1fr 80vh 1fr;
    gap: 3%; 
    grid-template-areas:  
    "header header header"
    "navbar main main"
    "footer footer footer";

}

 #mainContainer {
    grid-area: main; 
    display: flex; 
flex-direction: row; 
justify-content: space-around;
 }

 #welcomeSection {
  max-width: 40vw; 
 }

#customImageContainer {
max-width: 40vw; 
}
#mainImage {
    max-width: 38vw; 
}

.heading  {
    grid-area: header; 
}

.topnav  {
    grid-area: navbar; 
}

.footer {
    grid-area: footer; 
}


}