body {background-color: #070031;
    color:#ffffffdf;
    background-image: url('/media/rainierNightSky.jpeg'); 
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;     
  background-attachment: fixed;     
  min-height: 100vh;              
}



.active {
  background-color: black;}

.mainContainer > .container {
    background-color: #141431d0;
  }