     :root {
      --sprucePine: #003a00; 
      --kentuckyNight: #000d08;
      --mountainFog: #f0fff8; 
      --stormCloud: #333849;
      --blueRidgeParkway: #002167;
      --starLight: #e1ceff; 
    }



body {
    display: flex; 
    flex-direction: column;
    width: 100%;
    min-height: 100vh; 
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f4f4f4;
    background-color: #090f3e;
    justify-content: space-between; 
}

   /* Navigation menu */
    .topnav {
        grid-area: navBar;
        overflow: hidden;
        background-color: var(--kentuckyNight);
        width: 100%;
    }

        .topnav #myLinks {
            display: none; /* Hidden by default */
            flex-direction: column;
            background-color: var(--stormCloud); 
        }

        .topnav a {
            color: var(--mountainFog);
            padding: 0.8rem; 
            font-size: 1.5rem; 
            display: block;
            text-align: center;
        }

        .active {
            background-color: var(--kentuckyNight);
            font-weight: 600;
            color: var(--mountainFog);
        }

        a {
            text-decoration: none;
            color: var(--mountainFog);
        }

        a:hover {
            text-decoration: none;
            font-weight: 700;
            color: var(--starLight);
        }

        .hiddenContent {
            display: none;
        }



.mainContainer {
    width: 95%; /* Full width with small margins */
    margin: 0 auto; /* Center the container */
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.projectsArticle {
    width: 100%; 
    margin: 1rem 0;
    padding: 0.5rem; 
    background-color: #0009175c; 
    text-align: center; 
    border-top: 3px solid var(--mountainFog);
}

.item {
box-sizing: border-box;
width: 100%; 
border: solid var(--mountainFog) 3px;
margin-top: 2vh;
text-align: center;
}

.image {
    max-width: 100%; /* Responsive image */
    height: auto;
    margin: 1rem 0;
}

.header {
    text-align: center;
    padding: 1rem 0;
}



.footer {
    text-align: center;
    padding: 0.5rem 0;
}

@media only screen and (min-width: 750px) {

body {
  background-image: url('/media/smoky-mountain-sunset.jpg'); 
  background-size: cover;           
  background-position: center;      
  background-repeat: no-repeat;     
  background-attachment: fixed;     
  min-height: 100vh;                
}

.topNav {
        display: flex; 
        flex-direction: row;
        font-size: 1.25rem;
    }

      .topnav > a {
          text-align: left;
      }

.header > h1 {
    font-size: 3rem;
    mix-blend-mode: difference; 
}

.image {
    display: none; 
}
}

