body {
            display: grid; 
            grid-template-areas: 
            "navBar"
            "personalProjects"
            "commercialProjects"
            "image"
            "footer"
            ;
            grid-template-columns: auto;
            grid-template-rows: auto 40vh 40vh 20vh auto;
            justify-content: space-between;
            align-content: center;

            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #f4f4f4;
            background-color: #090f3e;
        }



/* Navigation menu */
.topnav {
    grid-area: navBar;
    overflow: hidden;
    background-color: #0d0024;
    width: 100%;
}

.topnav #myLinks {
    display: none; /* Hidden by default */
    flex-direction: column; /* Stack links vertically */
}

.topnav a {
    color: white;
    padding: 0.8rem; /* Touch-friendly padding */
    text-decoration: none;
    font-size: 1rem; /* Readable for mobile */
    display: block;
    text-align: center;
}

.active {
    background-color: #060023;
    color: white;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
    color: whitesmoke;
}

.hiddenContent {
    display: none;
}

.projectsArticle > #personalProjects {
    grid-area: personalProjects;
}

.projectsArticle > #commercialProjects {
    grid-area: commercialProjects;
}

.image > #mainImage {
    grid-area: image; 
}


.footer {
    grid-area: footer;
}
