 :root {
      --sprucePine: #003a00; 
      --kentuckyNight: #000d08;
      --mountainFog: #f0fff8; 
      --stormCloud: #333849;
      --blueRidgeParkway: #002167;
      --starLight: #e1ceff; 
    }



    body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #f4f4f4;
            background-color: #232533;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

   /* Navigation menu */
    .topnav {
        grid-area: navBar;
        overflow: hidden;
        background-color: var(--kentuckyNight);
        width: 100%;
    }

        .topnav #myLinks {
            display: none; /* Hidden by default */
            flex-direction: column;
            background-color: var(--stormCloud); 
        }

        .topnav a {
            color: var(--mountainFog);
            padding: 0.8rem; 
            font-size: 1.5rem; 
            display: block;
            text-align: center;
        }

        .active {
            background-color: var(--kentuckyNight);
            font-weight: 600;
            color: var(--mountainFog);
        }

        a {
            text-decoration: none;
            color: var(--mountainFog);
        }

        a:hover {
            text-decoration: none;
            font-weight: 700;
            color: var(--starLight);
        }

        .hiddenContent {
            display: none;
        }

        .container {
            max-width: 800px;
            padding: 25px;
            background-color: #010b55;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1,h2, h3 { 
            color: whitesmoke;
        }
        .header {
            text-align: center;
        }
        .header h1 {
            padding: 10px;
        }
        .contact {
            margin: 10px;
            font-size: 14px;
        }
        .contact a {
            color: whitesmoke;
            text-decoration: none;
        }
        .section {
            margin: 20px 0;
        }
        .section h2 {
            margin-bottom: 10px;
            border-bottom: 2px solid #00070f;
            padding-bottom: 5px;
        }
        .item {
            margin-bottom: 15px;
        }
        .item h3 {
            margin: 0;
            font-size: 18px;
                    }
        .item p {
            margin: 5px 0;
            font-size: 14px;
        }
        .skills ul {
            list-style: none;
            padding: 0;
        }
        .skills ul li {
            display: inline-block;
            background-color: #15273b;
            color: #fff;
            padding: 5px 10px;
            margin: 5px 5px 5px 0;
            border-radius: 4px;
        }

        .footer {
        margin: 25px; 
        box-sizing: border-box;
        text-align: center;
         }


@media only screen and (min-width: 768px) {
    .topnav {
        display: flex; 
        flex-direction: row;
        font-size: 1.25rem;
        width: 850px;
    }

      .topnav > a {
          text-align: left;
      }
}
  

