body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #f4f4f4;
            background-color: #232533;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #010b55;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1,
        h2, h3 {
        color: whitesmoke;         }
        .header {
            text-align: center;
        }
        .header h1 {
            margin: 10px 0;
        }
        .contact {
            margin: 10px 0;
            font-size: 14px;
        }
        .contact a {
            color: whitesmoke;
            text-decoration: none;
        }
        .section {
            margin: 20px 0;
        }
        .section h2 {
            margin-bottom: 10px;
            border-bottom: 2px solid #00070f;
            padding-bottom: 5px;
        }
        .item {
            margin-bottom: 15px;
        }
        .item h3 {
            margin: 0;
            font-size: 18px;
                    }
        .item p {
            margin: 5px 0;
            font-size: 14px;
        }
        .skills ul {
            list-style: none;
            padding: 0;
        }
        .skills ul li {
            display: inline-block;
            background-color: #15273b;
            color: #fff;
            padding: 5px 10px;
            margin: 5px 5px 5px 0;
            border-radius: 4px;
        }
        /* navigation menu */
        
        .topnav {
        overflow: hidden;
        background-color: #010007;
        position: relative;
        }

        /* Hide the links inside the navigation menu (except for logo/home) */
        .topnav #myLinks {
        display: none;
        }

        /* Style navigation menu links */
        .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        }