     :root {
      --sprucePine: #003a00; 
      --kentuckyNight: #000d08;
      --mountainFog: #f0fff8; 
      --stormCloud: #333849;
      --blueRidgeParkway: #002167;
      --starLight: #e1ceff; 
    }

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


.body {
        color: var(--mountainFog); 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0; 
        min-height: fit-content;
        max-width: 100vw;
    }

    /* Navigation menu */
    .topnav {
        grid-area: navBar;
        overflow: hidden;
        background-color: var(--kentuckyNight);
        width: 100%;
    }

        .topnav #myLinks {
            display: none; /* Hidden by default */
            flex-direction: column;
            background-color: var(--stormCloud); 
        }

        .topnav a {
            color: var(--mountainFog);
            padding: 0.8rem; 
            font-size: 1.5rem; 
            display: block;
            text-align: center;
        }

        .active {
            background-color: var(--kentuckyNight);
            font-weight: 600;
            color: var(--mountainFog);
        }

        a {
            text-decoration: none;
            color: var(--mountainFog);
        }

        a:hover {
            text-decoration: none;
            font-weight: 700;
            color: var(--starLight);
        }

        .hiddenContent {
            display: none;
        }



    .header {
        font-size: 1.1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        text-align: center;
        width: 90%; 
        margin-left: 5%;
        margin-right: 5%;  
        padding-top: 10px;
        padding-bottom: 10px; 
        box-sizing: border-box; 
        height: 35vh;
        margin-bottom: 1vh;
        text-shadow: #000d08 2px 2px 4px;
    }
 

    .mainContainer {
        margin-top: 10px; 
        margin-bottom: 10px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        min-height: 60vh;
    }

    /* defaults for all containers within .maincontainer */

    .container { 
        box-sizing: border-box;
        width: 97%; 
        padding: 2%;
        margin: 1%; 
        padding: 2%;
        border: solid var(--mountainFog) 3px; 
        box-shadow: 3px 3px #001d08;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 75vh;
    }

    .imageContainer {
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .containerTitle {
        align-self: center;
        text-align: center;
    }

    .containerImg {
        align-self: center;
        max-height: 30vh;
        width: auto;
        max-width: 90%;
    }

    .buttonsContainer {
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .searchForm {
        border-radius: 10px;
        padding: 8px;
        margin: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }


    .button.imageButton , .button , .textInput {
        font-size: 1rem;
        align-self: center;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }

    .localTime {
        font-size: 1.2rem;
        font-weight: 600;
        margin: 10px;
        text-align: center;
    }

    .footer {
        margin: 25px; 
        box-sizing: border-box;
        text-align: center;
      }

 @media only screen and (min-width: 768px) {

    
     .topNav {
        display: flex; 
        flex-direction: row;
        font-size: 1.25rem;
    }

      .topnav > a {
          text-align: left;
      }
    
    .header {
        font-size: 1.2rem;
        height: 30vh;
    }
  
    

    .mainContainer {
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
    }

    .containerImg {
        max-width: 40vw;
        width: auto;
    }


    
}
    @media only screen and (min-width: 992px) {

    
        .topnav {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          grid-area: navBar;
      }

      .topnav #myLinks {
          display: flex;
          flex-direction: row;
          background-color: transparent;
      }

      .topnav a {
        margin-left: 5vw;
      }

      #dropMenu {
          display: none; 
      }

      
    }