     :root {
      --sprucePine: #003a00; 
      --kentuckyNight: #000d08;
      --mountainFog: #f0fff8; 
      --stormCloud: #333849;
      --blueRidgeParkway: #002167;
      --starLight: #e1ceff; 
    }

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.body {
        color: var(--mountainFog); 
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0; 
    }

    /* Navigation menu */
    .topnav {
        grid-area: navBar;
        overflow: hidden;
        background-color: var(--kentuckyNight);
        width: 100%;
    }

        .topnav #myLinks {
            display: none; /* Hidden by default */
            flex-direction: column;
            background-color: var(--stormCloud); 
        }

        .topnav a {
            color: var(--mountainFog);
            padding: 0.8rem; 
            font-size: 1.5rem; 
            display: block;
            text-align: center;
        }

        .active {
            background-color: var(--kentuckyNight);
            font-weight: 600;
            color: var(--mountainFog);
        }

        a {
            text-decoration: none;
            color: var(--mountainFog);
        }

        a:hover {
            text-decoration: none;
            font-weight: 700;
            color: var(--starLight);
        }

        .hiddenContent {
            display: none;
        }



    .header {
        font-size: .9rem;
        text-align: center;
        cursor: pointer;
        text-align: center;
        width: 90%; 
        margin-left: 5%;
        margin-right: 5%;  
        padding-top: 10px;
        padding-bottom: 10px; 
        box-sizing: border-box; 
        max-height: 20vh;
        margin-bottom: 1vh;
    }
 

    .mainContainer {
        margin-top: 10px; 
        margin-bottom: 10px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

    /* defaults for all containers within .maincontainer */

    .container { 
        box-sizing: border-box;
        width: 97%; 
        padding: 2%;
        margin: 1%; 
        padding: 2%;
        border: solid var(--mountainFog) 3px; 
        box-shadow: 3px 3px #001d08;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .imageContainer {
        max-height: 95%
    }

    .containerTitle {
        align-self: center;
        text-align: center;
    }

    .containerImg {
        align-self: center;
        max-height: 30vh;
        width: auto;
    }

    .buttonsContainer {
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .searchForm {
        border-radius: 10px;
        padding: 8px;
        margin: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }


    .button.imageButton , .button , .textInput {
        font-size: 1rem;
        align-self: center;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }

    .footer {
        margin: 25px; 
        box-sizing: border-box;
        text-align: center;
      }

 @media only screen and (min-width: 768px) {



    .mainContainer {
        display: flex; 
        flex-direction: row;
    }

    

    .containerImg {
        align-self: center;
        
    }

    
  }

    @media only screen and (min-width: 992px) {

    .body {
        display: grid;
        grid-template-areas: 
            "navBar navBar navBar"
            "header main main"
            "footer footer footer";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr 2fr 1fr;
        min-height: 100vh;
    }

    .header {
        font-size: 1.3rem; 
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 70vh;
        
    }
        .topnav {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          grid-area: navBar;
      }

      .topnav #myLinks {
          display: flex;
          flex-direction: row;
          background-color: transparent;
      }

      .topnav a {
        margin-left: 5vw;
      }

      #dropMenu {
          display: none; 
      }

      .mainContainer {
          grid-area: main;
          height: 75vh; 
      }

        .container {
            height: 70vh; 
        }

        .footer {
            grid-area: footer;
        }

    }