header {
   font-size: 4rem;
   font-weight: 600;
   text-align: center;
   padding: 3%; 
}

h1 {
    font-size: 3rem;
    font-weight: 500; 
}

.navbar {
    width: 90vw;
    font-size: 2rem; 
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    color: whitesmoke;
    padding-bottom: 3%; 
}

img {
    width:100%; 
}

a {
  text-decoration: none;
  color:whitesmoke;
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
  color: whitesmoke;
}
